@import url('https://fonts.googleapis.com/css2?family=Dosis');


* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis','Open Sans','Calibri';
}

html {
  font-family: 'Dosis','Open Sans','Calibri';
  scroll-behavior: smooth;
}

body {
  font-weight: 100;
  width: 100%;
  font-weight: 200;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #000000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.spacer {
  clear: both;
}

.yellow {
  background: #ffc048;
}

.green {
  background: #0be881;
}

.blue {
  background: #4bcffa;
}

.red {
  background: #eb4d4b;
  color: #ffffff;
}

header {
  background: #ffffff;
  padding: 0 10%;
  position: fixed;
  width: 80%;
  top: 0;

}

header h1 a{
  font-size: 1.5em;
  color: #000000;
}

header ul {
  padding: 2.2%;
}

header ul li {
  list-style: none;
  display: inline;
  padding: 15px;
}

header ul li a{
  color: #000000;
}

.menu-trigger {
  display: none;
}

section {
  padding: 0 10% 2% 10%;
  min-height: 100vh;
  width: auto;
}

section h2::before {
  content: '[';
  font-size: 1.5em;
}

section h2 {
  padding: 7% 0 0 0;
  font-size: 2em;
}

section h2::after {
  content: ']';
  font-size: 1.5em;
}

section p {
  padding: 2% 0 0 0;
  margin: auto;
  font-size: 1.75em;
}

#main_container {
  margin: 0;
}

#pricing_table {
  width: 29.33%;
  background: #ffffff;
  float: left;
  text-align: center;
  padding: 1%;
  margin: 1%;
}

#pricing_table h1{
  font-size: 5em;
  color: #ccc;
  letter-spacing: -5px;
}

#pricing_table h1 sub{
  font-size: .2em;
  letter-spacing: -2px;
}

#pricing_table h2{
  margin-bottom: 4%;
  color: #333;
  letter-spacing: -1px;
}

#pricing_table ul{
  margin:4% auto;
}

#pricing_table ul li{
  list-style: none;
  line-height: 2.5em;
}

#pricing_table ul li:nth-child(odd){
  background: #eee;
}

#pricing_table button{
  margin: 4% auto;
  font-size: 1.5em;
  padding: 1.5% 10%;
}

.mapouter {
  width: 100%;
  margin: 4% auto;
}

#gmap_canvas {
  width: 100%;
  min-height: 400px;
}

footer {
  background: #38ada9;
  padding: 1%;
  color: #ffffff;
}

footer p {
  text-align: center;
}

footer a {
  color: #3c6382;
}

@media only screen and (max-width: 900px) {
  .menu-trigger {
    display: block;
    margin: 3% auto;
    cursor: pointer;
    padding: 1% 3%;
    border: 1px solid #000;
    border-radius: 2px;
  }

  header {
    background: #ffffff;
    padding: 0 5%;
    margin-bottom: 5%;
    position: fixed;
    width: 90%;
    top: 0;

  }

  header ul {
    clear: both;
    display: none;
    padding: 0;
    width: 100%;
    color: #000000;
    text-align: center;
  }

  header ul li {
    display: block;
    color: #000000;
  }

  header ul li:nth-child(odd) {
    background: #eee;
  }

  section {
    padding: 0 10% 2% 10%;
    min-height: 100vh;
    width: auto;
  }

  section h2::before {
    content: '[';
    font-size: 1.5em;
  }

  section h2 {
    padding: 15% 0 0 0;
    font-size: 2em;
  }

  section h2::after {
    content: ']';
    font-size: 1.5em;
  }

  section p {
    padding: 2% 0 0 0;
    margin: auto;
    font-size: 1.75em;
  }

  #pricing_table {
    width: 95.33%;
    background: #ffffff;
    float: left;
    text-align: center;
    padding: 1%;
    margin: 3% 1% 1% 1%;
  }

  #pricing_table h1{
    font-size: 6em;
    color: #ccc;
    letter-spacing: -5px;
  }

  #pricing_table h1 sub{
    font-size: .25em;
    letter-spacing: -4px;
  }

  #pricing_table h2{
    margin-bottom: 4%;
    color: #333;
  }

  #pricing_table ul{
    margin:4% auto;
  }

}
